<h1>Orders Index</h1>
<% if @orders %>
  <ol>
  <% @orders.each do |order| %>
    <li>
      <%= link_to "Order #{order.id}", user_order_path(@user, order) %>, Created on <%= created_at order %><br>
      By <%= order.user.name %><br>
      Order Total: $<%= order.total_price %>
    </li>
  <% end %>
  </ol>
<% end %>
