<h1>Order <%= @order.id %></h1>
<ul>
  <% @order.products.each do |product| %>
    <li><%= product.name %> * <%= product_count(product) %> </li>
  <% end %>
</ul>
<strong><%= @order.total_price %></strong>
